html {
    background-image: url('pexels.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(41, 41, 41);
} 

#GamesTitle {
    text-align: center;
    color: aliceblue;
    
}
.Games1 {
    margin: auto;
    padding:10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    opacity: 75%;
}

.card1 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 75%;
    text-align: center;
    font-family: arial;
    margin: auto;
}
.card1 img {
    opacity: 70%;
}

@media (max-width: 800px) {
    .Games1 {
        flex-direction: column;
    }
}

.card1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: rgb(100,100,100);
    background-color:rgb(226, 226, 226);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card1 button:hover {
    opacity: 0.5;
}

.card1 h1 {
    color:rgb(100, 100, 100);
}

.navbar {
    opacity: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.navbar a {
    display: block;
    color: rgb(100, 100, 100);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    border-left: 1px solid #bbb;
    border-right: none;
    width: 15%;
}

.navbar a:hover {
    background-color: rgb(185, 185, 185);
  }

.navbar a.currentpage {
    background-color:rgb(185, 185, 185);
}

.navbar h1 {
    font-size: larger;
    text-align: center;
    width: 40%;
    color: rgb(100, 100, 100);
}
.Game-users-text p {
    color: rgb(255, 255, 255);
}

#table-headings {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

.w3-table-all {
    opacity: 75%;
    margin-top: 5%;
}