<!DOCTYPE html>
<html>
<head>
<title>Games</title>
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body background="gray">
<div class="navbar">
    <h1>GameChat</h1>
    <a href="/">Home</a>
    <a href="/Info">Info</a>
    <a href="/Add">Newdata</a>
    <a class="currentpage" href="/games">Games</a>
</div>
<div class="Games1">
    <div class="card1">
        <img src="./static/cs.jpg" alt="Counter Strike: Global Offensive">
        <h1>Game</h1>
        <p><button onclick="document.location='GameTable'">Click To Find Users</button></p>
    </div>

</div>
</body>
</html>