<!DOCTYPE html>
<html>
<head>
<title>Games</title>
<link rel="stylesheet" href={{url_for('static',filename='styles.css')}}>
</head>
<body background="gray">
<h1 id="GamesTitle">Games Select</h1>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a class="currentpage" href="/games">Games</a>
</div>
<div csgo class="Games1">
    <div class="card1">
        <img src="./static/csgo-logo.jpg" alt="Counter Strike: Global Offensive">
        <h1>CS:GO</h1>
        <p><button>Click To Find Users</button></p>
    </div>
    <div class="card1">
        <img src="./static/apexblackfixed.jpg" alt="Apex Legends">
        <h1>Apex Legends</h1>
        <p><button>Click To Find Users</button></p>
    </div>
    <div class="card1">
        <img src="./static/league.jpg" alt="League Of Legends">
        <h1>League Of Legends</h1>
        <p><button>Click To Find Users</button></p>
    </div>
    <div class="card1">
        <img src="./static/Cod.jpg" alt="Call Of Duty">
        <h1>Call Of Duty</h1>
        <p><button onclick="document.location='csgo.html'">Click To Find Users</button></p>
    </div>
</div>
</body>
</html>