<!DOCTYPE html>
<html>
<head>
<title>Games</title>
</head>
<body>
<h1>Games Select</h1>
<div csgo>
    <h2>CSGO</h2>
    {% for i in csgo %}
    <p>{{ i[0] }}</p>
    {% endfor %}
</div>
<div apex>
    <h2>APEX</h2>
    {% for i in Apex %}
    <p>{{ i[0] }}</p>
    {% endfor %}
</div>
<div lol>
    <h2>LEAGUE</h2>
    {% for i in LoL %}
    <p>{{ i[0] }}</p>
    {% endfor %}
</div>
<div cod>
    <h2>CALL OF DUTY</h2>
    {% for i in CoD %}
    <p>{{ i[0] }}</p>
    {% endfor %}
</div>
</body>
</html>