<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body style="background-color: aquamarine;">
<div>
<form action="" method="post">
    <label>USERNAME</label><br>
    <input name="username" type="username" placeholder="write your uesrname" id=username><br><br>
    <label>PASSWORD</label><br>
    <input name="password" type="password" placeholder="write your password" id="password"><br><br>
    <input type="submit" value="LOGIN"><br><br>
</form>
<form action="/logout" method="post">
    <h1>Logout here</h1>
</form type="submit" value="logout">
</div>
</body>
</html>