<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href={{url_for('static',filename='styles.css')}}>
</head>
<body style="background-color: aquamarine;">
<div class="navbar">
    <a href="/">Home</a>
    <a class="currentpage" href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/games">Games</a>
</div>
<div>
<form action="" method="post">
    <label>USERNAME</label><br>
    <input name="username" type="username" placeholder="write your uesrname" id=username><br><br>
    <label>PASSWORD</label><br>
    <input name="password" type="password" placeholder="write your password" id="password"><br><br>
    <input type="submit" value="LOGIN"><br><br>
</form>
<form action="/logout" method="post">
    <h1>Logout here</h1>
</form type="submit" value="logout">
</div>
</body>
</html>